---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>
  
  <h1 class="text-3xl font-bold text-center mt-4">Actividades</h1>
<p class="text-center flex justify-center items-center">En los alrededores encontrará numerosas rutas de senderismo, siendo nuestra casa el punto de partida ideal para explorar paisajes espectaculares </br> y disfrutar de un contacto directo con la naturaleza. Tienes desde recorridos sencillos, ideales para disfrutar en familia, </br> hasta rutas más exigentes para los apasionados del montañismo, aquí hay opciones para todos los gustos.</p>
<div class="flex justify-center items-center py-4">
<img src="/images/montaña.jpg" alt="Sierra de Gredos" class="rounded-2xl w-4xl h-2xl">
</div>

<p class="text-center flex justify-center items-center py-7">Además, la zona ofrece diversos atractivos culturales y lugares de interés, </br>como el Santuario de Nuestra Señora de Chilla, una visita imprescindible para quienes deseen conocer el patrimonio de la región, </br>y el Castro Celta en la localidad vecina de El Raso.</p>
<div class="flex justify-center items-center py-4">
<img src="/images/chilla.jpg" alt="Santuario de Chilla" class="rounded-2xl w-4xl h-2xl">
</div>

</Layout>
