---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>
  
  <h1 class="text-3xl font-bold text-center mt-4">Imágenes de las instalaciones</h1>

  <div class="flex flex-wrap justify-center gap-4 p-6">
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0001.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0002.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0003.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0004.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0005.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0006.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0007.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0008.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0010.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0011.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0012.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0013.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0014.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0015.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0016.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0017.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0018.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0020.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0021.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0022.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0023.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0024.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
    <div class="w-[450px] h-[450px] m-2">
      <img src="/public/images/IMG-20250404-WA0026.jpg" alt="Casa de la Senda" class="rounded-3xl w-[450px] h-[450px] object-cover">
    </div>
  </div>
</Layout>
