---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>

  <section class="flex flex-col gap-3 mt-4">
    <div class="flex justify-center text-4xl">
      <h1>Casa de la Senda</h1>
    </div>
    <div class="flex justify-center text-1xl text-center">
      <p>Bienvenidos a la Casa de la Senda, tu casa en el paraíso, un lugar donde la naturaleza y la tranquilidad se encuentran.</p>
    </div>
    <div class="flex justify-center">
      <img src="/images/IMG-20250404-WA0017.jpg" alt="Casa de la Senda" width="600" height="400" class="rounded-3xl">
    </div>
  </section>
  <section class="flex justify-center text-1xl text-center mt-6">
    <p>Les damos la bienvenida a nuestra casa rural, está situada en el término municipal de Candeleda, en pleno corazón de la Sierra de Gredos. Si busca un lugar donde desconectar, disfrutar de la naturaleza y vivir experiencias al aire libre, nuestra casa rural es el destino ideal.</br> La propiedad cuenta con un amplio jardín, un acogedor porche y una zona de barbacoa, perfectos para relajarse después de un día lleno de actividades.</br> Le invitamos a descubrir un entorno único y a vivir una estancia inolvidable. ¡Esperamos darle la bienvenida pronto!</p>
  </section>
  <section class="flex flex-col gap-4 justify-center items-center bg-gray-200 p-4 mt-20">
    <div class="text-2xl">
<h4>Contactos</h4>
</div>
<div class="flex flex-col gap-2 justify-center items-center">
<p>https://www.instagram.com/casa_de_la_senda/?igsh=dzI2aTVua3Z3cmdt#</p>
<p>casadelasendachilla@gmail.com</p>
<p>+34 668 51 91 37</p>
</div>
  </section>
</Layout>
