---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>
  
  <h1 class="text-3xl font-normal text-center mt-4">Reservar</h1>
 
</Layout>
