---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>
  
  <h1 class="text-3xl font-normal text-center mt-4">Reservar</h1>
  <div class="flex justify-center items-stretch gap-8 mt-8 mb-8">
    <div class="flex flex-col items-center">
      <div class="flex-grow flex items-center justify-center">
        <a href="https://www.booking.com/hotel/es/casa-de-la-senda.es.html" target="_blank">
          <img src="/images/booking-remove.png" alt="Logo de Booking" width="450" height="450" class="object-contain">
        </a>
      </div>
      <div class="mt-4">
        <p class="text-center font-medium">Desde Booking</p>
      </div>
    </div>
    
    <div class="flex flex-col items-center">
      <div class="flex-grow flex items-center justify-center">
        <a href="https://www.escapadarural.com/casa-rural/avila/casa-de-la-senda" target="_blank">
          <img src="/images/escapadarural-remove.png" alt="Logo de Escapada Rural" width="450" height="450" class="object-contain">
        </a>
      </div>
      <div class="mt-4">
        <p class="text-center font-medium">Desde Escapada Rural</p>
      </div>
    </div>
  </div>
 
</Layout>
