---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Im치genes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicaci칩n</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
  </section>
  
  <h1 class="text-3xl font-bold text-center mt-4">Ubicaci칩n</h1>
  <section class="flex flex-col gap-4 mt-4">
    <a href="https://www.google.es/maps/@40.1623797,-5.2649309,17z?entry=ttu&g_ep=EgoyMDI1MDQzMC4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank">
      <div class="flex justify-center">
        <img src="/images/maps.png" alt="Imagen google maps" width="1000" height="800" class="rounded-3xl">
      </div>
    </a>
    <div class="flex justify-center items-center mt-4">
      <p class="text-2xl">Nuestra ubicaci칩n desde Google Maps</p>
    </div>
  </section>