---
const { title } = Astro.props;
---


<section class="flex gap-4 justify-center bg-gray-200 p-4">
    <a href="/" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Inicio</a>
    <a href="/imagenes" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Imágenes</a>
    <a href="/actividades" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Actividades</a>
    <a href="/ubicacion" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Ubicación</a>
    <a href="/reservar" class="px-4 py-2 bg-gray-200 text-black rounded hover:bg-gray-400 transition-transform">Reservar</a>
</section>

<section class="flex flex-col gap-3 mt-4">
    <div class="flex justify-center text-4xl">
        <h1>Casa de la Senda</h1>
    </div>
    <div class="flex justify-center text-1xl">
        <p>Bienvenidos a la Casa de la Senda, tu casa en el paraíso, un lugar donde la naturaleza y la tranquilidad se encuentran.</p>
    </div>
    <div class="flex justify-center">
        <img src="/images/IMG-20250404-WA0017.jpg" alt="Casa de la Senda" width="700" height="400" class="rounded-3xl">
    </div>
</section>